<div class="footer">
  <div class="footer-links">
      <a href="http://www.instagram.com/administracionmacgill" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="http://www.facebook.com/administracionmacgill" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Administración MacGill
  </div>
</div>
