<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://i.ibb.co/pbVYzZT/logo.png" alt="logo" border="0" />
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Sevicios", servicios_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contacto", contacto_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Pedir presupuesto", presupuesto_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wa.me/5491168220419" target="_blank">Whatsapp <i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
