<h2>Contactenos</h2>

<form
  action="https://formbold.com/s/9ENR3"
  method="POST"
>
  <label>
    Correo electrónico
    <input type="email" name="email">
  </label>
  <label>
    Mensaje
    <textarea name="message"></textarea>
  </label>
  <button type="submit">Enviar</button>
</form>
