<div class="banner-pagina" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1544377193-33dcf4d68fb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnVkZ2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
  Pedir un presupuesto
</div>

<div class="containerform">
  <form id="contact"  action="https://formbold.com/s/3Ge16"
  method="POST">
    <h3>Pida un presupuesto</h3>
    <fieldset>
      <input placeholder="Nombre completo" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Dirección de correo electrónico" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Ubicación del edificio" type="Text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Num. de pisos" type="number" tabindex="4">
    </fieldset>
    <fieldset>
      <input placeholder="Num. de unidades" type="number" tabindex="5">
    </fieldset>
    <fieldset>
      <input placeholder="Num. de cocheras" type="number" tabindex="5">
    </fieldset>
    <fieldset>
      <textarea placeholder="Amenities, comentarios e inidicaciones adicionales" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="Enviar" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
    </fieldset>
  </form>
</div>
