<div class="banner-pagina" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fG9mZmljZSUyMHdvcmt8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
  Nuestro servicio
</div>

<div class="row1-container">
    <div class="box box-down cyan">
      <h2>Transparencia</h2>
      <p>Ofrecemos la mayor transparencia en nuestra gestión a través de liquidaciones de expensas claras, seguimiento de morosos y comprobación diaria de los servicios brindados al consorcio.</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Responsabilidad</h2>
      <p>Scans our talent network to create the optimal team for your project</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Profesionalismo</h2>
      <p>Uses data from past projects to provide better delivery estimates</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Atención directa</h2>
      <p>Regularly evaluates our talent to ensure quality</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
<div class="text-center mt-3">
  <%= link_to "Contáctenos", contacto_path, class: "btn btn-ghost" %>
</div>
